# اطلاعات حساس - هرگز نباید آپلود بشه
.env

# دیتابیس محلی (اختیاری - اگه نمی‌خواید تاریخچه واقعی روی گیت‌هاب بره)
market_history.db

# محیط مجازی پایتون
venv/
__pycache__/
*.pyc

# فایل‌های سیستم‌عامل
.DS_Store
Thumbs.db
